/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

/* Utilities */

.white {
    color: white;
}

a {
    text-decoration: none;
}

/* Main */

/* Sidebar */

main {
    display: flex;
    height: calc(100vh - 100px);
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100px;
    background-color: black;
}

#navbar, #user{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar img {
    width: 30px;
    margin: 10px 0;
}

#sidebar #user img:first-child {
    width: 20px;
}

#sidebar #user img:last-child {
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: grey;
}

/* Nav-Page */

#nav-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Head-Main */

#head-main {
    display: flex;
    background-color: darkgray;
    flex-basis: 100px;
    align-items: center;
    justify-content: flex-end;
}

#head-main span {
    padding: 10px 40px;
    border: 1px solid;
    border-radius: 30px;
}

/* Menu-Page */

#menu-page {
    display: flex;
    flex-direction: column;
    background-color: green;
    flex-grow: 1;
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
}

/* Nav-Menu-page */

#menu-page nav {
    display: flex;
    height: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

#menu-page a{
    color: grey;
    padding: 10px 20px;

}

/* Recently-Played */

#recently-played {
    padding: 0 40px;
}

#recently-played .albums {
    display: flex;
    flex-wrap: wrap;
}

#recently-played img {
    height: 200px;
    flex-basis: 200px;
}

/* Footer */

#player {
    display: flex;
    height: 100px;
    background-color: chocolate;
}

/* Responsive */

@media screen and (min-width: 769px) {
    #sidebar {
        flex-basis: 200px;
    }
}