/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

/* Utilities */



/* Main */

main {
    display: flex;
    height: calc(100vh - 100px);
}

#sidebar {
    background-color: red;
    flex-basis: 50px;
    height: 100%;
}

#sidebar img {
    width: 70%;
}

#nav-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#head-main {
    background-color: yellow;
    flex-basis: 100px;
}

#menu-page {
    background-color: green;
    flex-grow: 1;
}


/* Footer */

#player {
    height: 100px;
    background-color: chocolate;
}

/* Responsive */

@media screen and (min-width: 769px) {
    #sidebar {
        flex-basis: 200px;
    }
}